@font-face {
  font-family: Juana;
  src: url(fonts/Juana-Light/font.woff) format('woff'), url(fonts/Juana-Light/font.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Juana;
  src: url(fonts/Juana-LightIt/font.woff) format('woff'), url(fonts/Juana-LightIt/font.woff2) format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Juana;
  src: url(fonts/Juana-Regular/font.woff) format('woff'), url(fonts/Juana-Regular/font.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Juana;
  src: url(fonts/Juana-SemiBold/font.woff) format('woff'), url(fonts/Juana-SemiBold/font.woff2) format('woff2');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: Juana;
  src: url(fonts/Juana-ExtraLightIt/font.woff) format('woff'), url(';fonts/Juana-ExtraLightIt.woff2') format('woff2');
  font-weight: lighter;
  font-style: italic;
}

html,
body {
  font-family: 'Juana', sans-serif;
  font-size: 0.95rem;
  padding: 0;
  margin: 0;
}

body {
  animation: fadein 2s;
}

.font-lato {
  font-family: Lato;
}

.portofolio-header {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #e4331e;
  padding-bottom: 2px;
  border-bottom: 1px solid #e4331e;
  display: inline-block;
}

.numberCircle {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background: transparent;
  border: 1px solid #e4331e;
  color: #e4331e;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.spin {
  animation: spin 4s linear infinite;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.drop-img {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
  object-fit: cover;
}

.portofolio-method-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin: 0 auto;
  max-width: 260px;
  color: #5d5d5d;
}

.theme-ikea {
  background-color: #f2f6f6;
}

.theme-adn {
  background-color: #f2f2f3;
}

.theme-happyelepehant {
  background-color: #e2e1e9;
}

.bg-lines {
  background-image: url('/img/home/lines.png');
  background-position: center center;
  background-size: 140% auto;
}
